@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto:300&display=swap');

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
    --chineesered:#a73224;
    --platinum: #e8e8e8;
    --glitter: #E2F0F7; 
}

html {
    font-size: 10px;
}

a{
    text-decoration: none;
} 

h1, h3 {
    font-family: "Noto Serif", serif;
    font-weight: bold;
}

h5, p, input {
    font-family: "Roboto", sans-serif;
}

h3 {
    color: rgb(65, 65, 65);
    font-size: 3rem;
    flex-basis: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h5, p {
    color: rgba(65, 65, 65, .6);
}

h3:hover {
    color: #d66045;
}

header {
    background-image: url('/scenic-photo-of-grand-canyon-during-daytime-2757641.jpg');
    background-color: var(--chineesered);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

h1 {
    color: var(--platinum);
    font-size:15rem;
    padding: .45em 0em .65em 1.5em;
    position: absolute;
    z-index: 2;
}

@media screen and (max-width:1120px){
    h1 {
    font-size:15rem;
    padding: .35em 0em .25em 1em;
}
}

@media screen and (max-width:1030px){
    h1 {
    font-size:12rem;
    padding: 1em 0em .25em 1em;
}
}

@media screen and (max-width:826px){
    h1 {
    font-size:10rem;
    padding: 1.4em 0em .25em 1em;
}
}

@media screen and (max-width:700px){
    
    .header {
        height: 45rem;
    }

    h1 {
    font-size:8rem;
    padding: 1.4em 0em .25em 1em;
}
}

@media screen and (max-width:555px){
    
    .header {
        height: 45rem;
    }

    h1 {
    font-size:6rem;
    padding: 2em 0em .25em 1em;
}
}

.transparent-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba( 167, 50, 36, .6);
    z-index: 1;
}

form {
    margin: 0 auto; 
    background: var(--platinum);
    padding: 2em;
}

.searchBar {
    width: 100%;
    max-width: 600px;
    padding: 1.2em;
    margin: 0 auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    display: block;
    text-align: center;
}

.searchBar:focus {
    outline: none;
    background: white;
}


.results-container {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 6rem auto;
    max-width: 1820px;
}

.results-content-container {
    /* border: 3px solid purple; */
    /* overflow: hidden; */
    height: 450px;
    width: 45rem;
    margin: 1rem;
    background: rgba(232, 232, 232, .5);
}

.image-card {
    /* border: 2px solid red; */
    width: 100%;
    height: 76%;
}

.content-card {
    /* border: 1px solid blue; */
    padding: 1.3em 1.5em;
}

.content-card h5 {
    font-size: 1.7rem;
    margin: .3rem;
}

.content-card p {
    font-size: 1.5rem;
    margin: .3rem;
}

.footer {
    background: var(--chineesered);
    padding:2rem;
    color: var(--platinum);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.hiker-pjt-logo{
    height: 50px;
    padding: 0 1.5em;
}

.mapquest-logo {
    height: 35px;
    padding: 0 1em;
}

h6 {
    font-size: 2rem;
    font-family: "Noto Serif", serif;
}

@media screen and (max-width:560px){
    .footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    h6 {
        flex-basis: 100%;
        text-align: center;
        padding: .2em 0 1em 0;
    }
}

.footer p {
    color: var(--platinum);
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    flex-basis: 63%;
}

@media screen and (max-width:1420px){
    .footer p {
        flex-basis: 55%;
    }
}

@media screen and (max-width:1180px){
    .footer p {
        flex-basis: 45%;
    }
}

@media screen and (max-width:972px){
    .footer p {
        flex-basis: 35%;
    }
}

@media screen and (max-width:830px){
    .footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer p {
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 2em;
    }
}

.show-hike-container {
    display: flex;
    flex-wrap: wrap;
    padding: 17em 5em;
    align-content: center;
    justify-content: center;
}

.back-home-btn {
    flex-basis: 100%;
    /* border: 2px solid orange; */
    padding-left: 14.5%;
    padding-bottom: .7em;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    display: block;

}

.hike-content {
    flex-basis: 30%;
    padding-top: 10em;
}

.show-hike-container img {
    flex-basis: 40%;
    margin-right: 2em;
    /* border: 1px solid black; */
    background-size: cover;
}


.hike-content h2 {
    font-size: 4rem;
    font-family: "Noto Serif", serif;
}

.hike-content p {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    padding: .5em 0;
}

.hike-content h4 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    line-height: 2.6rem;
}

hr {
    margin: .5em 0 1em 0;
}

.attribute {
    font-weight: bold;
    -webkit-text-stroke: .7px black;
    letter-spacing: .5px;
}

.details-container {
    display: flex;
} 

.details-container div {
    flex: 1;
}

.hike-content a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Noto Serif";
    /* width: 100%; */
    /* border: 1px solid black; */
}

.hike-content button {
    width: 100%;
    height: 4rem;
    margin-top: 1.5em;
    background-color: var(--platinum);
    border: none;
}

button a {
    color: rgba(65, 65, 65, .6);
}

.default-image {
    width: 30%;
}
